// BACKGROUND COLOR PALLETE

$background: #FFFFFF;
$background-2: #FBFBFB;


$blue-text: #545F7D;
$blue-navy: #213F7D;
$blue-cyan: #39CDCC;
$white: #FFFFFF;
$red: #E4033B;

// BORDER-COLORS
$border: rgba(33, 63, 125, 0.06);
$border-light: rgba(33, 63, 125, 0.1);
$border-input: rgba(84, 95, 125, 0.15);


// FONT SIZES

$text-xs: 0.75rem;
$text-sm: 0.875rem;
$text-base: 1rem;
$text-lg: 1.125rem;
$text-xl: 1.25rem;
$text-2xl: 1.5rem;
$text-3xl: 1.875rem;
$text-4xl: 2.25rem;
$text-5xl: 3rem;
$text-6xl: 3.75rem;
$text-7xl: 4.5rem;
$text-8xl: 6rem;
$text-9xl: 8rem;